<ul>

  <li>
    <a class="navbar-brand" [routerLink]="['child']">Child Component</a>
  </li>
  <li>
      <a class="navbar-brand" [routerLink]="['parent']">Parent Component</a>
  </li>
</ul>
<router-outlet></router-outlet>

<!-- <button (click)="increment()">Increment</button>
<button (click)="decrement()">decrement</button>
<br> -->
<!-- <app-child [count]=counter></app-child> -->
<!-- <app-child [myCount]=counter></app-child> -->
<!-- <app-child [count]=counter></app-child> -->

<!-- <h1>Welcome to {{title}}!</h1>
<p> current count is {{counter}} </p>
<app-child [count]=counter (countChanged)="countChangedHandler($event)"></app-child> -->