<!-- <button (click)="increment()">Increment</button>
<button (click)="decrement()">decrement</button>
<br> -->
<!-- <app-child [count]=counter></app-child>
<app-child [myCount]=counter></app-child> -->

<!-- <app-child [count]=counter></app-child>
<p> current count is {{counter}} using input</p>

<br> -->
<!-- <p> current count is {{counter}} using output</p>
<app-child [count]=counter (countChanged)="countChangedHandler($event)"></app-child> -->

<!-- <h1>{{title}}!</h1>
<p> current count is {{child.count}} </p>
<button (click)="child.increment()">Increment</button>
<button (click)="child.decrement()">decrement</button>
<app-child #child></app-child> -->

<h1>{{title}}</h1>
<p> current count is {{child.count}} </p>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">decrement</button>
<app-child></app-child>