 <nav>

      <li>
        <a class="navbar-brand" [routerLink]="['databind']">Data Binding</a>
      </li>
      <li>
          <a class="navbar-brand" [routerLink]="['twoway']">Two Way Binding</a>
      </li>
      <li>
        <a class="navbar-brand" [routerLink]="['counter']">Counter</a>
      </li>

      <li>
        <a class="navbar-brand" [routerLink]="['modelChange']">Model Change</a>
      </li>

      <li>
        <a class="navbar-brand" [routerLink]="['hooks']">Life Cycle Hooks</a>
      </li>
      <li>
        <a class="navbar-brand" [routerLink]="['debug']">Debug</a>
      </li>

    </nav>



  <router-outlet></router-outlet>
